/*titulo*/
header nav ul li {
    display: inline-block;
    color: rgb(213, 221, 93);
    margin: 5px ;
    font-family: "Merriweather", serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bruno Ace SC", cursive;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 35px;
    }
 
  header nav ul li:hover {
    transform: scale(1.1);
    transition: all 1s ease
  }
  header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background-color: #a13333;
    color: rgb(213, 221, 93);
    font-family: "Bruno Ace SC", cursive;
    font-weight: 100;
  }
  header nav div img {
    width: 50vw;
    height: 600px;
    
  }
  .c-imagen {
    width: 300px;
    
    border-radius: 25px;
    
  }
  
    
    .d-flex{
    background-color:#beb7b7 ;
    border: 2px #000000;
    border-radius: 15px;
    padding: 25px;
    gap: 30px;   
    .t-inicio{
      padding: 15px;
      font-size: 20px;
      margin: 10px;
      background-color:#ffffff ;
      border-radius: 15px;
    }
  
  }
  /***footer***/
.redes {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
  }
  .redes a i {
    font-size: 25px;
    text-align: center;
    padding: 5px 10px;
  }
  .redes a i:hover {
    transform: scale(1.5);
    transition: all 1s ease;
  }
  /***fin footer***/

  